.navbarContainer {
    background: rgba(244, 236, 233, 1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 1200px;
    /* Maximum width */
    margin: 0 auto;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    box-sizing: border-box;
}

.logo {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #000000;
    text-decoration: underline;
    line-height: 29px;
    margin-right: 40px;
}

.navItems {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

.menuItems {
    font-family: 'Outfit', sans-serif;
    text-decoration: none;
    color: #170A45;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s ease;
    white-space: nowrap;
    padding: 20px 20px;
    position: relative;
    cursor: pointer;
}

.menuItems:hover {
    color: #7b3fe4;
    background: rgba(201, 178, 170, 0.8);
}

.menuItems[href]:hover {
    color: #7b3fe4;
    background: rgba(201, 178, 170, 0.8);
}