.sortButtonContainer {
    position: relative;
    display: inline-block;
}

.sortButton {
    width: 180px;
    height: 70px;
    padding: 20px 40px;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    backdrop-filter: blur(40px);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
    background: linear-gradient(105.52deg, rgba(255, 255, 255, 0.4) 0.71%, rgba(255, 255, 255, 0.1) 97.61%);
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sortButtonContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sortButtonContent p {
    margin-left: 8px;
}

.sortButton:hover,
.sortButton.active {
    background-color: #ff4f71;
}

.dropdown {
    width: 180px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #3a3a3a;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown a {
    height: 70px;
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.dropdown a:hover {
    background-color: #575757;
}

.dropdown.show {
    display: block;
}